/*COLOR PALETTE*/

:root {
    --color-sidebar-bg: rgb(43 43 43);
    --color-header-bg: #f29100;
    --color-content-bg: rgb(223 223 223);
    --color-sidebar-font: #fff;
    --color-header-font: #000;
    --color-content-font: rgb(90, 90, 90);

    font-family: Roboto;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

.sidebar img{
    height: 2em;
}

.top img {
    height: 2em;
}

#user-img-small {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.bottom img {
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    color: var(--color-sidebar-font);
    background: var(--color-sidebar-bg);
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid; 
    grid-template-rows: 1fr repeat(3, 4fr);
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.nav1,
.nav2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar .item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    font-weight: bold;
}

.header {
    color: var(--color-header-font);
    background: var(--color-header-bg);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .item {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0px 40px;
}

button {
    background-color: var(--color-sidebar-bg);
    color: var(--color-header-bg);
    font-weight: bold;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 80px;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0px 0px 5px black;
}

#search-bar {
    height: 2.5em;
    width: calc(40vw);
    background-color: var(--color-content-bg);
    border: none;
    border-radius: 1.25em;
    padding: 0px 2ch 0px;
}

.main-content {
    background: var(--color-content-bg);
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 20px 20px;
    gap: 20px;
}

.projects {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.card-container .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--color-sidebar-font);
    border-left: 10px solid var(--color-header-bg);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
}

.announcements {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.announcements .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background: var(--color-sidebar-font);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 5px gray;
    font-size: .75em;
}

.trending {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.trending .card {
    display: grid;
    grid-auto-rows: 1fr;
    background: var(--color-sidebar-font);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 5px gray;
}

.trending .info {
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
}

.trending img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    grid-row-start:1;
    grid-row-end: 3;
}

.msg {
    font-weight: bold;
}

.user-name {
    font-weight: bold;
}

.bottom .user-name {
    font-size: 2em;
}

.legend {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.25em;
}

.title {
    color: var(--color-header-font);
    font-weight: bold;
    font-size: 1.25em;
}

.content {
    color: var(--color-content-font);
}

.icons {
    display: flex;
    flex: 1 0 auto;
    justify-content: end;
    align-items: end;
    gap: 20px;
}

.icons img {
    height: 25px;
}

hr {
    border-top: 1px solid var(--color-content-font);
    margin: 0;
}
