/*COLOR PALETTE*/

:root {
    --color-sidebar-bg: rgb(0, 110, 255);
    --color-header-bg: #fff;
    --color-content-bg: rgb(177, 177, 177);
    --color-sidebar-font: #fff;
    --color-header-font: #000;
    --color-content-font: rgb(90, 90, 90);

}

img{
    
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    color: var(--color-sidebar-font);
    background: var(--color-sidebar-bg);
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid; 
    grid-template-rows: 1fr repeat(3, 4fr);
}

.logo {
    display: flex;
}

.sidebar .item {
    display: flex;
}

.header {
    color: var(--color-header-font);
    background: var(--color-header-bg);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .item {
    display: flex;
    align-items: center;
}
.main-content {
    background: var(--color-content-bg);
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.announcements {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.announcements .card {
    display: grid;
}

.trending {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.trending .card {
     display: grid;   
}